.footer-sender-1
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}

.footer-sender-2
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-1
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-2
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-3
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-4
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-5
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-6
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-7
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-8
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-9
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}
.footer-receiver-10
{
    background: url(./footerImages/sender1.png) no-repeat bottom; height: 45px; background-size: 100%; position: relative;
}