<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body style="font-family: 'Source Sans 3', sans-serif; font-size: 13px; margin:0;">
  <table style="width: 868px; margin:0 auto; border-collapse: collapse;">
    <tr>
      <td style="background:url(images/header.jpg); padding:20px; background-repeat: no-repeat;">
        <h1 style="font-weight:300; color:#fff; margin:0;">
          January 2023
        </h1>
        <h2 style="color:#fff; font-size: 51px; margin:0;">
          Taxation along with
          <br>
          Employer-Employee and MWPA
        </h2>
      </td>
    </tr>
    <tr>
      <td style="padding:0 15px;">
        <br>
        Dear Participant,
        <br>
        <br>
        Greetings!
        <br>
        <br>
        JFM is the peak season in Insurance Industry as lot of customers prefer to take insurance policy for saving
        their tax liability. We want our sales force to help customers in guiding them on correct insurance policy.
        Hence, we are organising an event to provide training on important aspects of taxation and other plans.
      </td>
    </tr>
    <tr>
      <td style="height: 50px; color:#f23280; font-size: 18px; padding: 0 15px;">
        Block your date for a webinar session as per below mentioned details.
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:80%; border-collapse: collapse;  margin:20px auto 20px;">
          <tr>
            <td colspan="2"
              style="background: #f23280; font-weight: bold; color:#fff; font-size: 22px; font-weight: 600; padding:2px 5px; text-align: right;">
              Date:03-10-2023
            </td>
          </tr>
          <tr>
            <td
              style="width: 50%; background: #533386; padding:5px 15px; font-size: 20px; border-right:solid 1px #f23280; color:#fff;">
              Time</td>
              <td
              style="width: 50%; background: #533386; padding:5px 15px; font-size: 20px; border-right:solid 1px #f23280; color:#fff;">
              Agenda</td>
          </tr>
          <tr>
            <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              1.30 PM – 1.35 PM</td>
              <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              Welcome note</td>
          </tr>
          <tr>
            <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              1:35 PM – 2:05 PM</td>
              <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              Taxation along</td>
          </tr>
          <tr>
            <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              2:05 PM – 2:30 PM</td>
              <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              Employer-Employee</td>
          </tr>
          <tr>
            <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              2:30 PM – 2:55 PM</td>
              <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              Employer-Employee</td>
          </tr>
          <tr>
            <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              2:55 PM – 3:00 PM</td>
              <td
              style="width: 50%;  padding:5px 15px; font-size: 15px; border:solid 1px #000; color:#000;">
              Closing note</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:0 15px;">
        Please be informed that the session will be attended by the senior leadership hence you need to follow the below instruction.
<br>
<br>
1.	You will receive login details in a separate message.
<br>
2.	Login at least 5 mins before the start time.
<br>
3.	Keep yourself on mute all the time; avoid Admin to keep muting you During the session.
<br>
4.	Put your questions in either Q & A Section or Chat Box.
<br>
5.	We will take a regular attendance, and any drop out during the Session will be marked as absent.
<br>
6.	We expect your active participation during the meeting so that you can get all the clarifications on all the sales performance criteria announced.
      </td>
    </tr>
    <tr>
      <td style="background-image: url(images/footer.jpg); background-repeat: no-repeat; padding:0 15px">
        <div style="margin:10px 0 0 0; font-size: 28px; color:#f23280; font-weight: 600;">
          Join Zoom Meetings
        </div>
        <div style="margin:0 0 0; font-size: 28px; color:#000; font-weight: 600;">
          https://www.us02web.zoom.com
        </div>
        <div style="padding: 50px 20px 0 20px; margin-top:50px;">
          <h4 style="margin:0; font-size: 28px; color:#f23280; font-weight: 600;">
            For any clarification reachout @
          </h4>
          <h5 style="margin:0; font-size: 28px; color:#fff; font-weight: 600;">
            events@dreamweaversindia.com
          </h5>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>