@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}

p {
    margin: 0;
}

.header {
    position: relative;
}

.mail-title {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #b8d6ec;
    top: 13px;
    left: 0;
    right: 0;
    
}

.user-info {
    width: 99%;
    margin: 0 auto;
    display: flex;
}

.user-img {
    width: 48px;
    margin-right: 20px;
}

.date {
    color: #737274;
    font-size: 11px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.email {
    color: #737274;
    font-size: 14px;
    margin: 5px 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.reply {
    font-size: 12px;
    color: #565757;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.to {
    font-size: 14px;
    color: #565757;
    margin: 10px 0 4px;
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 15px;
}

.to span {
    margin-right: 15px;
}

.replied {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    background: url(../images/arrow.png) no-repeat right;
}

.replied img {
    margin-right: 10px
}

.attachments {
    border-bottom: solid 1px #e8e8e8;
    display: flex;
    padding-bottom: 5px;
}

.zip {
    border: solid 1px #787878;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0 5px;
    background: url(../images/attachement-arrow.png) no-repeat;
    background-position: 238px 16px;

}

.zip img {
    margin-right: 10px;
}

.zip-name {
    font-size: 14px;
    color: #565757;
    font-weight: 500;
    margin-right: 40px;
}

.zip-size {
    font-size: 14px;
    color: #737274;
}

.email-body {
    width: 99%;
    margin-top: 25px;
    background: url(../images/scroll.png) no-repeat top right;
    margin-left: auto;
    overflow: hidden;
    height: 412px;
    font-weight: 600;
    color:#565656;
}
.email-signature {
   
    color: #2e5586;
    font-size: 16px;
    font-weight: 600;

}
.email-signature a{color: #15158b;}

.email-footer{
    background-image: url(../images/footer.png); height: 45px; background-size: cover; position: relative;
}
.footer-time {
    font-family: 'Roboto', sans-serif;
    color: #c9c9c9;
    position: absolute;
    right: 72px;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
}
.footer-date {
    font-family: 'Roboto', sans-serif;
    color: #c9c9c9;
    position: absolute;
    right: 51px;
    top: 24px;
    font-size: 12px;
    font-weight: 500;
}

.help-link{color:#1e73c7 !important;}

.trail{
    border-top: solid 1px #e8e8e8; width:98%; margin-top:15px;
}
.trail-from{font-family: "Calibri", sans-serif; font-weight: 600; color:#050505;}
.trail-link{font-weight: normal;}
.trail-link-account{position: relative; padding-left:9px; padding-right:9px;}
.trail-link-account::before{position: absolute; content: "<"; width: 8px; left:0; color:#000;}
.trail-link-account::after{position: absolute; content: ">"; width: 8px; right:0; color:#000;}
.trail-reply{
    font-weight: normal;
}